:root {
  --primary: #4f1128;
  --primary-dark: #350c1d;
  --dark-gray: #353334;
  --light-gray: rgb(230, 219, 219);
  --white: #f4f4f4;
  --green: #87b221;
  --red: #b51f06;
  --yellow: #eacd3b;
  --black: #232223;
  --dark: #1d1d1b;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 32px auto;
  padding-top: 40px;
  background-color: var(--primary);
  padding: 30px;
  border-radius: 32px;
  color: var(--white);
  align-items: center;
  gap: 16px;
  font-family: "Roboto";
  font-weight: 300;
}

form img {
  width: 74px;
  filter: invert(100%);
}

form input:not([type="checkbox"]) {
  border-radius: 24px;
  width: 100%;
  padding: 4px 16px;
  box-sizing: border-box;
}

form button {
  padding: 4px 24px;
  border-radius: 16px;
  margin-top: 16px;
  font-weight: bold;
  color: var(--primary-dark);
  transition: background-color 0.12s;
}
form .terms,
form .offers {
  align-self: flex-start;
  display: flex;
  margin-top: 8px;
}

form .terms a {
  color: var(--white);
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
}

form p a {
  color: var(--white);
  font-size: 16px;
  text-decoration: underline;
}

form .terms a:hover {
  font-weight: bolder;
}

form p a:hover {
  font-weight: bold;
}

form button:hover {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}
