.conteudo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 650px;
}
.card{
    display: inline-grid;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 50% 50%;
    box-shadow: 5px 5px 5px #b3b3b3;
    background-color: var(--white);
    border-radius: 10px;
    width: 98%;
    margin: 20px 0 20px 30px;
    padding: 20px;
}
.conteudo1{
    grid-column: 1/2;
    text-align: justify;
}
.card1{
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.card1 img{
    border: solid var(--primary);
    border-radius: 50%;
    width: 300px;
}
.card2{
    text-align: justify;
}
.card2 h2{
    font-family: "Roboto-Medium" sans-serif;
    font-size: 30px;
    color: var(--primary);
}
.card2 h3{
    font-family: "Roboto-Medium" sans-serif;
    font-size: 20px;
    color: var(--primary);
}
.card2 p{
    font-family: "Roboto-Medium" sans-serif;
    font-size: 18px;
    color: var(--dark-gray);
}
.conteudo2{
    grid-column: 2/3;
    margin: 0 0 20px 90px;
    color: var(--primary);
}
.card3{
    display: grid;
    grid-template-columns: 100px auto 100px;
    box-shadow: 5px 5px 5px #b3b3b3;
    background-color: var(--white);
    border-radius: 10px;
    width: 89%;
    margin: 0 30px 0 0;
    padding: 20px;
}
.conteudo2 h1{
    text-align: justify;
    padding-bottom: 10px ;
}
.conteudo2 h2{
    margin: 0;
    margin-bottom: 20px;
}
.parceria{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-template-rows: 91px;
    width: 90%;
    border-bottom: 1px solid var(--dark-gray);
    margin-bottom: 10px;
}
.parceria h5{
    margin: 0;
}
.subparceria{
    margin-right: 82%;
    text-align: center;
}
.parceria img{
    grid-column: 1/2;
    height: 70px;
    width: 170px;
    padding: 5px;
}
.title-parceiro{
    grid-column: 2/3;
}
.compra{
    grid-column: 3/4;
    text-align: right;
}
.h5{
    font-family: "Roboto-Medium" sans-serif;
    font-size: 20px;
    color: var(--primary);
    text-align: right;
    margin-right: 5px;
}
.compra_button{
    background-color: var(--primary);
    color: var(--white);
    width: 90px;
    height: 40px;
    cursor: pointer;
    font-family: 'Roboto-Medium', sans-serif;
    border-radius: 8%;
    padding: 0 5px;
    margin: 10px 5px;
}
.compra_button:hover{
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e6dbdb;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.modal__container {
    background-color: #ffffff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}
.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--dark-gray);
    box-sizing: border-box;
    text-align: center;
}
.modal__aviso{
    text-align: center;
    color: var(--dark-gray);
}
.modal__close {
    background: transparent;
    border: 0;
}
.modal__header .modal__close:before { 
    content: "\2715"; 
}
.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;

}
.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: var(--red);
    color: #ffffff;
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}
.modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.modal__btn-primary {
    background-color: #87b221;
    color: #fff;
}
  /**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
display: none;
}

.micromodal-slide.is-open {
display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
will-change: transform;
}
/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #03658c;
    text-decoration: none;
}

ul {
   list-style-type: none;
}

body {
   font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
   background: #dee1e3;
}

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
   margin: 60px auto 15px;
   width: 768px;
}

.comments-container h1 {
   font-size: 36px;
   color: #283035;
   font-weight: 400;
}

.comments-container h1 a {
   font-size: 18px;
   font-weight: 700;
}

.comments-list {
   margin-top: 30px;
   position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
   content: '';
   width: 2px;
   height: 100%;
   background: #c7cacb;
   position: absolute;
   left: 32px;
   top: 0;
}

.comments-list:after {
   content: '';
   position: absolute;
   background: #c7cacb;
   bottom: 0;
   left: 27px;
   width: 7px;
   height: 7px;
   border: 3px solid #dee1e3;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
   content: '';
   width: 60px;
   height: 2px;
   background: #c7cacb;
   position: absolute;
   top: 25px;
   left: -55px;
}


.comments-list li {
   margin-bottom: 15px;
   display: block;
   position: relative;
}

.comments-list li:after {
   content: '';
   display: block;
   clear: both;
   height: 0;
   width: 0;
}

.reply-list {
   padding-left: 88px;
   clear: both;
   margin-top: 15px;
}
/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
   width: 65px;
   height: 65px;
   position: relative;
   z-index: 99;
   float: left;
   border: 3px solid #FFF;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   overflow: hidden;
}

.comments-list .comment-avatar img {
   width: 100%;
   height: 100%;
}

.reply-list .comment-avatar {
   width: 50px;
   height: 50px;
}

.comment-main-level:after {
   content: '';
   width: 0;
   height: 0;
   display: block;
   clear: both;
}
/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
   width: 680px;
   float: right;
   position: relative;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
   content: '';
   height: 0;
   width: 0;
   position: absolute;
   display: block;
   border-width: 10px 12px 10px 0;
   border-style: solid;
   border-color: transparent #FCFCFC;
   top: 8px;
   left: -11px;
}

.comments-list .comment-box:before {
   border-width: 11px 13px 11px 0;
   border-color: transparent rgba(0,0,0,0.05);
   left: -12px;
}

.reply-list .comment-box {
   width: 610px;
}
.comment-box .comment-head {
   background: #FCFCFC;
   padding: 10px 12px;
   border-bottom: 1px solid #E5E5E5;
   overflow: hidden;
   -webkit-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
   float: right;
   margin-left: 14px;
   position: relative;
   top: 2px;
   color: #A6A6A6;
   cursor: pointer;
   -webkit-transition: color 0.3s ease;
   -o-transition: color 0.3s ease;
   transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
   color: #03658c;
}

.comment-box .comment-name {
   color: #283035;
   font-size: 14px;
   font-weight: 700;
   float: left;
   margin-right: 10px;
}

.comment-box .comment-name a {
   color: #283035;
}

.comment-box .comment-head span {
   float: left;
   color: #999;
   font-size: 13px;
   position: relative;
   top: 1px;
}

.comment-box .comment-content {
   background: #FFF;
   padding: 12px;
   font-size: 15px;
   color: #595959;
   -webkit-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px;
   border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
   content: 'autor';
   background: #03658c;
   color: #FFF;
   font-size: 12px;
   padding: 3px 5px;
   font-weight: 700;
   margin-left: 10px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
   .comments-container {
       width: 480px;
   }

   .comments-list .comment-box {
       width: 390px;
   }

   .reply-list .comment-box {
       width: 320px;
   }
}




.estrelas input[type=radio] {
    display: none;
  }
  .estrelas label i.fa{
    font-size: 30px;
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #eacd3b;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }