.conteudo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.card{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 5px 5px 5px #b3b3b3;
    background-color: var(--white);
    border-radius: 10px;
    width: 90%;
    margin: 20px 0 20px 30px;
    padding: 20px;
}
.conteudo1{
    grid-column: 1/2;
    text-align: justify;
}
.card1{
    display: flex;
    width: 25%;
    margin-left: 10px;
    align-items: center;
}
.card1 img{
    border: solid var(--primary);
    border-radius: 50%;
    width: 300px;
}
.card2{
    text-align: justify;
}
.card2 h2{
    font-family: "Roboto-Medium" sans-serif;
    font-size: 30px;
    color: var(--primary);
}
.card2 h3{
    font-family: "Roboto-Medium" sans-serif;
    font-size: 20px;
    color: var(--primary);
}
.card2 p{
    font-family: "Roboto-Medium" sans-serif;
    font-size: 18px;
    color: var(--dark-gray);
}
.conteudo2{
    grid-column: 2/3;
    margin: 0 0 20px 90px;
    color: var(--primary);
}
.card3{
    box-shadow: 5px 5px 5px #b3b3b3;
    background-color: var(--white);
    border-radius: 10px;
    width: 90%;
    margin: 0 30px 0 0;
    padding: 20px;
}
.conteudo2 h1{
    text-align: justify;
    padding-bottom: 10px ;
}
.conteudo2 h2{
    margin: 0;
    margin-bottom: 20px;
}
.parceria{
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-template-rows: 91px;
    width: 90%;
    border-bottom: 1px solid var(--dark-gray);
    margin-bottom: 10px;
}
.parceria h5{
    margin: 0;
}
.subparceria{
    margin-right: 82%;
    text-align: center;
}
.parceria img{
    grid-column: 1/2;
    height: 70px;
    width: 170px;
    padding: 5px;
}
.title-parceiro{
    grid-column: 2/3;
}
.compra{
    grid-column: 3/4;
    text-align: right;
}
.compra h5{
    font-family: "Roboto-Medium" sans-serif;
    font-size: 20px;
    color: var(--primary);
    text-align: right;
    margin-right: 5px;
}
.compra_button{
    background-color: var(--primary);
    color: var(--white);
    width: 90px;
    height: 40px;
    cursor: pointer;
    font-family: 'Roboto-Medium', sans-serif;
    border-radius: 8%;
    padding: 0 5px;
    margin: 10px 5px;
}
.compra_button:hover{
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e6dbdb;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.modal__container {
    background-color: #ffffff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}
.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--dark-gray);
    box-sizing: border-box;
    text-align: center;
}
.modal__aviso{
    text-align: center;
    color: var(--dark-gray);
}
.modal__close {
    background: transparent;
    border: 0;
}
.modal__header .modal__close:before { 
    content: "\2715"; 
}
.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;

}
.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: var(--red);
    color: #ffffff;
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}
.modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.modal__btn-primary {
    background-color: #87b221;
    color: #fff;
}
  /**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
display: none;
}

.micromodal-slide.is-open {
display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
will-change: transform;
}