.box{
    display: grid;
    grid-template-columns: 759px 759px;
    grid-template-rows: 800px 700px 700px;
    align-items: center;
  }
  .conteiner-destaque h2{
    text-align: center;
    color: var(--primary-dark);
  }
  .destaque1{
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 10px 30px;
    text-align: center;
    justify-content: center;
  }
  .destaque2{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px 30px;
    text-align: center;
    justify-content: center;
  }
  .destaque3{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10px 30px;
    text-align: center;
    justify-content: center;
  }
  .destaque4{
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 10px 30px;
    text-align: center;
    justify-content: center;
  }
  .destaque3{
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px 30px;
    text-align: center;
    justify-content: center;
  }
  .materia {
    text-align: justify;
  }
  .destaque-img {
    width: 300px;
    height: 300px;
  }
  .banner-publicidade {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .banner-publicidade img{
    width: 100%;
    height: 300px;
  }
  .conteiner-destaque2{
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
  }
  .h2{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    color: var(--primary-dark);
    padding: 10px;
  }
  .box-botton{
    grid-column: 1/4;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 506px 506px 506px;
    grid-template-rows: 50px 600px 50px;
    align-items: center;
  }
  .materia p{
    padding: 10px 10px;
  }
  .materia button:hover{
    font-weight: bold;
  }
  .materia button{
    background-color: var(--primary-dark);
    color: var(--white);
    width: 120px;
    height: 30px;
    margin: 10px;
    font-size: medium;
    font-family: 'Roboto-Medium', sans-serif;
  }
  .conteiner-destaque2 h2{
    color: var(--primary-dark);
  }
  .box-button{
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 50px 228px;
  }
  .button{
    background-color: var(--primary-dark);
    color: var(--white);
    width: 50px;
    height: 30px;
    font-size: medium;
    font-family: 'Roboto-Medium', sans-serif;
    border-radius: 20px;
  }
  .button:hover{
    font-weight: bold;
  }