html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    font-family: 'Roboto-Medium', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.conteiner{
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 150px auto 260px;
}
header{
    background-color: #4f1128;
    grid-column: 1/4;
    grid-row: 1/2;
}
main{
    background-color: rgb(230, 219, 219);
    grid-column: 1/4;
    grid-row: 2/3;
}
footer{
    background-color: #353334;
    grid-column: 1/4;
    grid-row: 3/4;
}
.header{
    background-color: #4f1128;
    display: grid;
    grid-template-columns: 220px auto 100px;
}
.logo{
    width: 180px;
    height: 70px;
    margin: 5px 20px;
    align-items: center;
}
.barramenu img{
    width: 40px;
    height: 40px;
    margin: 7px 20px;
}
.barramenu{
    grid-column: 1/4;
    background-color: #350c1d;
    display: grid;
    display: inline-block;
}
.menu{
    display: flex; 
    justify-content: center;
    grid-column: 1/4;
    
}
.login{
    grid-column: 3/4;
    display: flex;
    float: right;
    align-items: center;
}
.conta{
    width: 40px;
    height: 40px;
    margin: 7px 20px;
}
.logo-footer{
    width: 190px;
    height: 80px;
    margin: 30px 45px;
    align-items: center;
}
.conteiner3{
    display: grid;
    grid-template-columns: 260px auto 600px;
    grid-template-rows: 120px 130px;
}
.titulo-footer{
    grid-column: 2/3;
    grid-row: 2/2;
    font-family: 'Roboto-Medium', sans-serif;
    color: white;
    font-size: x-large;
    font-weight: bold;
}
.bloco1-footer{
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.rotulos-footer{
    color: white;
}
.rotulos-footer:hover{
    font-weight: bold;
}
.bloco2-footer{
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.bloco3-footer{
    grid-column: 4/4;
    grid-row: 2/3;
    margin: 17.5px 30px;
}
.bloco3-footer img{
    width: 40px;
    height: 40px;
    padding: 6px;
}

/* estilização: cabeçalho, rodapé, fonte.
NÃO MEXER
*/



