.conteiner2{
  background: url(../img/conteudo/videira-fundo.jpg) no-repeat center;
  background-size: cover;
  padding: 130px 40px;
  text-align: center;
  color: var(--white);
}
h1{
  color: var(--white);
}
.conteiner2 p {
  max-width: 600px;
  margin: 40px auto;
  font-size: 18px;
  font-weight: 300;
}
.email-box{
  height: 40px;
  justify-content: center;
  display: flex; /*its better to use inline-flex*/
}
.email-box i{
  background: var(--primary);
  width: 40px;
  line-height: 40px;
  border-radius: 10px 0 0 10px;
}
.tbox,.btn{
  border: none;
  outline: none;
}
.tbox{
  width: 0px;
  transition: 0.6s;
}
.email-box:hover > .tbox,.tbox:focus{
  width: 250px;
  padding: 0 15px;
}
.btn{
  background: var(--primary);
  color: var(--white);
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

