.demonstration {
  height: 300px;
}
h1{
  padding-bottom: 50px;
}
h2, h3{
  color: var(--primary);
}
.top p{
  font-family: "Roboto-Medium", sans-serif;
  color: var(--dark-gray);
}
.content span{
  font-family: "Roboto-Medium", sans-serif;
  color: var(--dark-gray);
}
.content p{
  font-family: "Roboto-Medium", sans-serif;
  color: var(--primary);
}
ol img {
  height: 200px;
  border: 4px solid var(--primary);
  width: 200px;
  object-fit: contain;
  border-radius: 50%;
}
ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 70%;
  margin: 0 auto;
}
ol li {
  display: flex;
  align-items: center;
  gap: 36px;
}
ol li:nth-child(even) {
  flex-direction: row-reverse;
}
ol li .title {
  font-size: 24px;
  font-weight: bolder;
}
ol li span {
  display: block;
}
button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  border-radius: 7px;
}
button:hover {
  background-color: var(--light-gray);
    color: var(--dark-gray);
}
main .top {
  display: flex;
  justify-content: space-around;
  margin-top: 36px;
  padding-bottom: 50px;
}
.similar-products {
  padding: 0 32px;
  margin-top: 32px;
}
.similar-products > .title {
  text-align: left;
  padding-top: 50px;
  font-size: 26px;
}
.similar-products ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-bottom: 20px;
}
.publi-botton-kit {
  justify-content: left;
  text-align: left;
  width: 100%;
  margin: 0 20px;
  padding-left: 0;
}

