.conteudo{
    display: grid;
    grid-template-columns: 300px 1219px;
    grid-template-rows: 1060px 70px;
}
.filtro{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0 0 0 20px;
}
.tipos h2{
    font-family: "Robot-Medium" sans-serif;
    color: var(--primary);
    font-size: 20px;
}
.preco h2{
    font-family: "Robot-Medium" sans-serif;
    color: var(--primary);
    font-size: 20px;
}
.preco input{
    height: 6px;
    width: 200px;
}
.preco-label1{
    font-size: 12px;
    margin: 0 5px;
}
.preco-label2{
    font-size: 12px;
    margin: 0 81px;
}
.button-mais{
    background-color: var(--primary);
    color: var(--white);
    width: 50px;
    height: 30px;
    font-size: medium;
    cursor: pointer;
    font-family: 'Roboto-Medium', sans-serif;
    border-radius: 20px;
    margin: 10px 70px;
}
.button-mais:hover{
    background-color: var(--light-gray);
    color: var(--dark-gray);
}
.vinhos{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: 530px 530px;
}
.item1{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    background-color: #ffffff;
    width: 95%;
    height: 90%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0 10px 0 ;
    box-shadow: 5px 5px 5px #b3b3b3;
}
.item2{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    background-color: #ffffff;
    width: 95%;
    height: 90%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0 10px 0 ;
    box-shadow: 5px 5px 5px #b3b3b3;
}
.item3{
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    background-color: #ffffff;
    width: 95%;
    height: 90%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0 10px 0 ;
    box-shadow: 5px 5px 5px #b3b3b3;
}
.item4{
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
    background-color: #ffffff;
    width: 95%;
    height: 90%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0 10px 0 ;
    box-shadow: 5px 5px 5px #b3b3b3;
}
.item5{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    background-color: #ffffff;
    width: 95%;
    height: 90%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0 10px 0 ;
    box-shadow: 5px 5px 5px #b3b3b3;
}
.item6{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    background-color: #ffffff;
    width: 95%;
    height: 90%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0 10px 0 ;
    box-shadow: 5px 5px 5px #b3b3b3;
}
.item7{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    background-color: #ffffff;
    width: 95%;
    height: 90%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0 10px 0 ;
    box-shadow: 5px 5px 5px #b3b3b3;
}
.item8{
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
    background-color: #ffffff;
    width: 95%;
    height: 90%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0 10px 0 ;
    box-shadow: 5px 5px 5px #b3b3b3;
}
.vinhos img{
    height: 250px;
    width: 250px;
}
.valor{
    display: flex;
    margin-left: 40px;
    align-items: flex-start;
}
.valor p{
    color: var(--dark-gray);
    font-size: 10px;
}
.valor h4{
    font-family: "Robot-Medium" sans-serif;
    color: var(--primary);
    font-size: 20px;
    margin: 0;
    width: 100px;
}
.vinhos h2{
    font-family: "Robot-Medium" sans-serif;
    color: var(--primary);
    font-size: 20px;
}
.vinhos button{
    background-color: var(--primary);
    color: var(--white);
    width: 90px;
    height: 40px;
    cursor: pointer;
    font-family: 'Roboto-Medium', sans-serif;
    border-radius: 8%;
    padding: 0 5px;
    margin: 30px;
}
.vinhos button:hover{
    background-color: var(--light-gray);
    color: var(--dark-gray);
}
.box-button{
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 20px 734.5px;
}
.button{
    background-color: var(--primary);
    color: var(--white);
    width: 50px;
    height: 30px;
    font-size: medium;
    font-family: 'Roboto-Medium', sans-serif;
    border-radius: 20px;
    cursor: pointer;
  }
  .button:hover{
    background-color: var(--light-gray);
    color: var(--dark-gray);
  }